.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 54px;
}

.desc {
  font-size: 20px;
  font-weight: 300;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box h1 {
  font-size: 36px;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgContainer {
  flex: 1;
  position: relative;
}
